<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 扫描包 -->
    <context:component-scan base-package="com.itbaizhan"/>

    <!-- 开启SpringMVC注解的支持 -->
    <mvc:annotation-driven conversion-service="convertFactory"/>

    <bean id="convertFactory" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.itbaizhan.convert.DateConvert"></bean>
            </set>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 放行静态资源 -->
    <mvc:default-servlet-handler />

    <!-- 文件解析器对象，id名称必须是multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 支持一次上传文件的总容量。单位：字节 100M = 100*1024*1024-->
        <property name="maxUploadSize" value="104857600"/>
        <!-- 文件名的编码方式-->
        <property name="defaultEncoding" value="utf-8"/>
    </bean>


    <!-- 配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 配置拦截器的作用路径-->
            <mvc:mapping path="/**"/>
            <!-- 拦截器对象 -->
            <bean class="com.itbaizhan.interceptor.MyInterceptor"/>
        </mvc:interceptor>
            <!-- 敏感词拦截器 -->
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.itbaizhan.interceptor.SensitiveWordInterceptor"></bean>
            </mvc:interceptor>
    </mvc:interceptors>


</beans>
